.example-container{
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-right: 20%;
    margin-top:5%;
}
.example-container>*{
    width: 100%;
    
}

.example-spacer {
    flex: 1 1 auto;
  }