<mat-toolbar>Datos de Perfil</mat-toolbar>
<div class="example-container">
    <mat-form-field>
        <input matInput placeholder="Usuario" [(ngModel)]="usuario" [disabled]="true" style="font-weight: bold;">
    </mat-form-field>

    
    <mat-selection-list >
        <mat-label>Roles</mat-label>
        <br>
        <mat-list-option *ngFor="let nivel of niveles" [selected]="true" [disabled]="true">
            <h3 matLine> <strong>{{nivel}}</strong> </h3>
        </mat-list-option>
      </mat-selection-list>

</div>