<router-outlet></router-outlet>


<div [hidden]="route.children.length !== 0">
<mat-toolbar>Signos</mat-toolbar>
<div class="example-container mat-elevation-z8">
        

    <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="idSigno">
            <mat-header-cell *matHeaderCellDef mat-sort-header> IDSIGNOS </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.idSigno}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="pulso">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Pulso </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.pulso}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="ritmo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Ritmo </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.ritmo}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="temperatura">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Temperatura </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.temperatura}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fecha">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Fecha </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.fecha}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="paciente">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Paciente </mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.paciente.nombres}} {{row.paciente.apellidos}} </mat-cell>
                </ng-container>   
    

        <ng-container matColumnDef="acciones">
            <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <!-- <button mat-button color="primary" (click)="abrirDialogo(row)"> -->
                <button mat-button color="primary" [routerLink]="['edicion', row.idSigno]">
                    <mat-icon>ballot</mat-icon>
                </button>
                <button mat-button color="accent" (click)="eliminar(row.idSigno)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

    <button mat-fab color="accent" style="float: right" routerLink="/signo/nuevo">
        <mat-icon>create</mat-icon>
      </button>

</div>
</div>